
#cont1 {display:block;}
#prueba {display:none;}
#rutina {display:none;
    background-color: #8c3a36;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
align-content: center;}
#prueba2 {display:none;}
#prueba3 {display:none;}
#prueba4 {display:none;}
.Amatic {font-family: 'Alfa Slab One';margin-left: 47%;}
#rut {background-color:coral; margin:auto;}
#logo {width:100px; align-self:center; 
    margin:auto; margin-top:.4%;
    border-radius: 2%;
    margin-bottom:.4%;}